@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* mobile touch-action */
	scroll-behavior: smooth;
}
*::-webkit-scrollbar {
	display: none;
}
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
.header {
	padding: 0 60px;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	background-color: #19191a;
	z-index: 5;
}
#logo {
	width: 100px;
	object-fit: contain;
}
.dropMenu {
	background-color: #19191a;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	display: grid;
	place-items: center;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	display: none;
}
.Close {
	position: absolute;
	top: 25px;
	right: 30px;
	color: white;
	font-weight: 600;
	font-size: 2rem;
	cursor: pointer;
}
.MenuAnimation {
	transform: translateX(0%);
}

.dropMenu ul {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.dropMenu ul li {
	width: 100%;
	height: 70px;
	display: grid;
	place-items: center;
}
.dropMenu ul li a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	color: #ffffff;
	transition: all 0.5s ease;
	white-space: nowrap;
}
.dropMenu ul li a:hover {
	color: rgb(236, 69, 208);
}

.header h1 {
	letter-spacing: 2px;
	color: rgb(247, 247, 247);
}
.navItems {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navItems a {
	text-decoration: none;
	color: #ffffff;
	transition: all 0.5s ease;
	font-weight: 500;
	white-space: nowrap;
	margin: 0 25px;
}
.Ham {
	display: none;
}
.navItems a:hover {
	color: rgb(236, 69, 208);
}
body {
	background-color: rgb(0, 0, 0);
}
.btn {
	outline: none;
	border: none;
	width: 120px;
	height: 35px;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 5px;
	transition: all 0.7s ease;
	background-color: rgb(236, 69, 208);
}
.btn:hover {
	background-color: #03ef62;
}
.mainCard_Section {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}
.card_Container {
	width: 100%;
	max-width: 90%;
	min-width: 300px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow-x: hidden;
	padding: 20px;
}
.card {
	width: 100%;
	max-width: 350px;
	min-width: 300px;
	height: 500px;
	background-color: #f6f6f6;
	position: relative;
	padding: 10px;
	border-radius: 8px;
	margin: 25px 0;
	z-index: 2;
}
.card::before {
	content: '';
	width: 50px;
	height: 50px;
	background-color: #03ef62;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 0.8s ease;
	z-index: 0;
}
.card:hover.card::before {
	width: 55%;
	height: 55%;
	z-index: -1;
}
.card_Title {
	height: 260px;
	display: grid;
	place-items: center;
}
.card_Title h1 {
	font-size: 1.7rem;
	font-weight: 600;
	color: #05192d;
}
.card_Details {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 180px;
}
.card_More {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	height: fit-content;
}
.card_Edu p {
	font-size: 0.9rem;
	letter-spacing: 1px;
	font-weight: 500;
	color: #3f3d56;
	line-height: 1.5rem;
}
.card_More h3 {
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
}
.card_More img {
	width: 10px;
	transition: all 0.6s ease;
}
.card_More:hover img {
	transform: translateX(8px);
}

.card #card_Avatar {
	position: absolute;
	width: 80px;
	object-fit: contain;
	top: -40px;
	left: 30px;
}
.text_box {
	width: 100%;
	height: 220px;
	display: grid;
	place-items: center;
}
.text_box h3 {
	font-size: 1.3rem;
	text-align: center;
	color: #f6f6f6;
	word-spacing: 5px;
}
.Hero_section {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 100px;
}
.Hero_details {
	width: 55%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.Hero_details p {
	color: rgb(236, 69, 208);
}
.Hero_details h1 {
	color: rgb(240, 240, 240);
	font-size: 2.5rem;
}
#Learners_img {
	width: 40%;
	height: 70%;
}
.Footer_conatiner {
	width: 100%;
	height: fit-content;
	background-color: #19191a;
	display: flex;
	justify-content: space-evenly;
	padding: 20px 20px;
}
.Footer_header {
	width: 50%;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: rgba(245, 245, 245, 0.788);
	padding-right: 20px;
}
.Footer_header p {
	font-size: 0.8rem;
}
.Footer_columns_holder {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.Footer_columns {
	height: 200px;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	letter-spacing: 2px;
}
.Footer_columns h1 {
	font-size: 1rem;
	color: white;
	font-weight: 600;
}
.Footer_columns a {
	width: fit-content;
	text-decoration: none;
	font-size: 0.8rem;
	color: rgba(245, 245, 245, 0.788);
	transition: all 0.5s ease;
}
.Footer_header img {
	width: 150px;

	object-fit: contain;
}
.Footer_columns a:hover {
	text-decoration: underline;
	color: rgb(236, 69, 208);
}

.Scroll {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(236, 69, 208);
	display: grid;
	place-items: center;
	transition: all 0.5s ease;
	position: fixed;
	bottom: 15px;
	right: 10px;
	z-index: 6;
	display: none;
}
.Scroll:hover {
	transform: scale(1.1);
}
.Scroll a {
	text-decoration: none;
}
.Privacy_holder {
	width: 100%;
	height: 100px;
	background-color: #19191a;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Privacy_links {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Privacy_links a {
	font-weight: 500;
	width: fit-content;
	text-decoration: none;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.938);
	transition: all 0.5s ease;
}
.Social-media {
	margin-right: 50px;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Social-media img {
	fill: white;
}
@media (max-width: 900px) {
	.Hero_section {
		padding: 30px;
		height: 90vh;
	}
	.Footer_conatiner {
		flex-direction: column;
	}
	.Footer_header {
		width: 100%;
	}
}
@media (max-width: 750px) {
	.Hero_section {
		flex-direction: column-reverse;
		justify-content: space-evenly;
	}
	.Hero_details {
		width: 100%;
		height: 20%;
	}
	.Hero_details h1 {
		font-size: 2rem;
	}
	#Learners_img {
		width: 100%;
		height: 35%;
	}
	.header {
		padding: 20px;
	}
	.header h1 {
		font-size: 1rem;
	}
	.Footer_columns_holder {
		width: 95%;
	}
	.Footer_columns {
		width: 50%;
	}
	.Footer_columns p {
		width: 95%;
	}
	.Privacy_holder {
		justify-content: space-around;
		flex-direction: column;
	}
	.Privacy_links {
		width: 100%;
	}
	.Social-media {
		width: 50%;
	}
}
@media (max-width: 600px) {
	.navItems {
		display: none;
	}
	.dropMenu {
		display: flex;
	}
	.Ham {
		display: block;
	}
}
@media (max-width: 400px) {
	.Hero_details h1 {
		font-size: 1.5rem;
	}
}
